
.App {

}

.header {
  height: 5vh;
  background: red;
  font-size: 15pt;
}
.content{
  height: 90vh;
  overflow: auto;
  background: blue;
}
.wrapper{
  margin: auto;
  width: 400px;
}
.footer {
  height: 5vh;
  background: green;
  
}
